@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.content {
  width: 550px;
  height: 704px;
  margin: auto;
}

.divider {
  border: 1px solid #F5F5F5;
  margin-left:40px;
  margin-right:40px;
}
